:root {
  --font-family: "Red Hat Text", sans-serif;
  --font-wight-400: 400;
  --font-wight-500: 500;
  --font-wight-600: 600;
  --font-wight-700: 700;

  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;

  --color-main-Red: hsl(14, 86%, 42%);
  --color-main-Green: hsl(159, 69%, 38%);
  --color-main-Rose-50: hsl(20, 50%, 98%);
  --color-main-Rose-100: hsl(13, 31%, 94%);
  --color-main-Rose-300: hsl(14, 25%, 72%);
  --color-main-Rose-400: hsl(7, 20%, 60%);
  --color-main-Rose-500: hsl(12, 20%, 44%);
  --color-main-Rose-900: hsl(14, 65%, 9%);
}
  html{
    background-color: var(--color-main-Rose-50);
    font-family: var(--font-family) !important;
  }

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
